<div class="footer__container">
    <div class="footer__head">
        <div class="footer__label">Create your own Meetup group.</div>
        <button type="button" class="footer__button">Get Started</button>
    </div>
    <nav class="footer__sitemap">
        <div class="footer__sitemap-column">
            <p class="footer__title">Your Account</p>
            <a href="#" class="footer__link">Sign up</a>
            <a href="#" class="footer__link">Log in</a>
            <a href="#" class="footer__link">Help</a>
            <a href="#" class="footer__link">Become an Affiliate</a>
        </div>
        <div class="footer__sitemap-column">
            <p class="footer__title">Discover</p>
            <a href="#" class="footer__link">Groups</a>
            <a href="#" class="footer__link">Calendar</a>
            <a href="#" class="footer__link">Topics</a>
            <a href="#" class="footer__link">Cities</a>
            <a href="#" class="footer__link">Online Events</a>
            <a href="#" class="footer__link">Local Guides</a>
            <a href="#" class="footer__link">Make Friends</a>
        </div>
        <div class="footer__sitemap-column">
            <p class="footer__title">Meetup</p>
            <a href="#" class="footer__link">About</a>
            <a href="#" class="footer__link">Blog</a>
            <a href="#" class="footer__link">Meetup Pro</a>
            <a href="#" class="footer__link">Careers</a>
            <a href="#" class="footer__link">Apps</a>
            <a href="#" class="footer__link">Podcast</a>
        </div>
    </nav>
    <div class="footer__buttons">
        <div class="footer__social">
            <p class="footer__title">Follow us</p>
            <div class="footer__social-buttons">
                <a href="#" class="footer__social-button"><img src="img/socials/fb.svg" alt="Facebook" /></a>
                <a href="#" class="footer__social-button"><img src="img/socials/tw.svg" alt="Twitter" /></a>
                <a href="#" class="footer__social-button"><img src="img/socials/yt.svg" alt="YouTube" /></a>
                <a href="#" class="footer__social-button"><img src="img/socials/in.svg" alt="Instagram" /></a>
                <a href="#" class="footer__social-button"><img src="img/socials/tt.svg" alt="TikTok" /></a>
            </div>
        </div>
        <div class="footer__apps">
            <a href="#" class="footer__app"><img src="img/apps/gp.svg" alt="GooglePlay" /></a>
            <a href="#" class="footer__app"><img src="img/apps/as.svg" alt="AppStore" /></a>
        </div>
    </div>
    <div class="footer__rules">
        <p class="footer__copyright">© 2025 Meetup</p>
        <a href="#" class="footer__link">Terms of Service</a>
        <a href="#" class="footer__link">Privacy Policy</a>
        <a href="#" class="footer__link">Do Not Sell or Share My Personal Data</a>
        <a href="#" class="footer__link">Cookie Policy</a>
        <a href="#" class="footer__link">Help</a>
    </div>

</div>