<div class="modals__content">
    <div class="modal modal--hidden" data-modal="language">
        <div class="modal__body modal__body--size_medium">
            <h2 class="modal__title">Change Language</h2>
            <div class="modal__body-content">
                <form class="user-form">
                    <fieldset>
                        <div class="radiofield">
                            <input type="radio" id="English" name="language">
                            <label class="radiofield__label" for="English">English</label>
                        </div>
                        <div class="radiofield">
                            <input type="radio" id="English (Australia)" name="language">
                            <label class="radiofield__label" for="English (Australia)">English (Australia)</label>
                        </div>
                        <div class="radiofield">
                            <input type="radio" id="Deutsch" name="language">
                            <label class="radiofield__label" for="Deutsch">Deutsch</label>
                        </div>
                        <div class="radiofield">
                            <input type="radio" id="Español" name="language">
                            <label class="radiofield__label" for="Español">Español</label>
                        </div>
                        <div class="radiofield">
                            <input type="radio" id="Español (España)" name="language">
                            <label class="radiofield__label" for="Español (España)">Español (España)</label>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="radiofield">
                            <input type="radio" id="Français" name="language">
                            <label class="radiofield__label" for="Français">Français</label>
                        </div>
                        <div class="radiofield">
                            <input type="radio" id="Italiano" name="language">
                            <label class="radiofield__label" for="Italiano">Italiano</label>
                        </div>
                        <div class="radiofield">
                            <input type="radio" id="Nederlands" name="language">
                            <label class="radiofield__label" for="Nederlands">Nederlands</label>
                        </div>
                        <div class="radiofield">
                            <input type="radio" id="Polski" name="language">
                            <label class="radiofield__label" for="Polski">Polski</label>
                        </div>
                        <div class="radiofield">
                            <input type="radio" id="Português" name="language">
                            <label class="radiofield__label" for="Português">Português</label>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="radiofield">
                            <input type="radio" id="Türkçe" name="language">
                            <label class="radiofield__label" for="Türkçe">Türkçe</label>
                        </div>
                        <div class="radiofield">
                            <input type="radio" id="ไทย" name="language">
                            <label class="radiofield__label" for="ไทย">ไทย</label>
                        </div>
                        <div class="radiofield">
                            <input type="radio" id="日本語" name="language">
                            <label class="radiofield__label" for="日本語">日本語</label>
                        </div>
                        <div class="radiofield">
                            <input type="radio" id="한국어" name="language">
                            <label class="radiofield__label" for="한국어">한국어</label>
                        </div>
                        <div class="radiofield">
                            <input type="radio" id="Русский" name="language">
                            <label class="radiofield__label" for="Русский">Русский</label>
                        </div>
                    </fieldset>
                </form>
            </div>
            <button class="modal__close-button"></button>
        </div>
    </div>
    <div class="modal modal--hidden" data-modal="login">
        <div class="modal__body modal__body--size_small">
            <h2 class="modal__title">Log In</h2>
            <div class="modal__body-content">
                <form class="user-form">
                    <fieldset>
                        <div class="textfield">
                            <label class="textfield__label" for="userLogin">Login<span>*</span></label>
                            <input type="text" id="userLogin" placeholder="Enter your login" required>
                        </div>
                        <div class="textfield">
                            <label class="textfield__label" for="userPassword">Password<span>*</span></label>
                            <input type="password" id="userPassword" placeholder="Enter your Password" required>
                        </div>
                        <button type="button" id="userLoginButton" class="button">Log In</button>
                    </fieldset>
                </form>
            </div>
            <button class="modal__close-button"></button>
        </div>
    </div>
    <div class="modal modal--hidden" data-modal="signup">
        <div class="modal__body modal__body--size_small">
            <h2 class="modal__title">Sign Up</h2>
            <div class="modal__body-content">
                <form class="user-form">
                    <fieldset>
                        <div class="textfield">
                            <label class="textfield__label" for="userNewLogin">Login<span>*</span></label>
                            <input type="text" id="userNewLogin" placeholder="Enter your login" required>
                        </div>
                        <div class="textfield">
                            <label class="textfield__label" for="userNewPassword">Password<span>*</span></label>
                            <input type="password" id="userNewPassword" placeholder="Enter Password" required>
                        </div>
                        <div class="textfield">
                            <label class="textfield__label" for="userNewPassword">Repeat Password<span>*</span></label>
                            <input type="password" id="userNewPassword" placeholder="Repeat Password" required>
                        </div>
                        <button type="button" id="userSignUpButton" class="button">Sign Up</button>
                    </fieldset>
                </form>
            </div>
            <button class="modal__close-button"></button>
        </div>
    </div>
    <div class="modal modal--hidden" data-modal="map">
        <div class="modal__body modal__body--size_large modal__body--padding_none" style="height: 450px;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193474.8781435657!2d-73.98087929101564!3d40.73903596366299!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2sru!4v1739398002357!5m2!1sru!2sru" width="850" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <button class="modal__close-button"></button>
        </div>
    </div>
</div>