$main-color: #F65858;
$main-hover-color: #df4d4d;
$second-color: #00798A;
$second-hover-color: #df4d4d;
$third-color: #212121;
$fourth-color: #707070;
$fourth-hover-color: #00798A;
$fifth-color: #F7FBFC;
$fifth-hover-color: #dcf1f5;


$page-title-size: 28px;
$page-title-line-height: 36px;

$page-title-size-medium: 26px;
$page-title-line-height-medium: 32px;

$page-title-size-small: 25px;
$page-title-line-height-small: 30px;


$section-title-size: 28px;
$section-title-line-height: 36px;

$section-title-size-medium: 24px;
$section-title-line-height-medium: 32px;

$section-title-size-small: 20px;
$section-title-line-height-small: 26px;
    

$large-screen: 1226px;
$medium-screen: 992px;
$small-screen: 768px;
$mobile-screen: 400px;
$mini-screen: 350px;